* {
    margin: 0;
    padding: 0;
}

body, p, span {
    color: #444;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Exo', sans-serif;
    position: relative;
    background-color: #ebeaf1;
}
#content {
    background-color: #c8c5d3;
    padding: 0 30px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 70px;
    z-index: 100;
}

#header a {
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    line-height: 70px;
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    background-color: #a0c1b8;
    border: solid #709fb0;
    border-width: 1px 1px 1px 0px;
    transition: translate 400ms;
}

#header a:hover {
    background-color: #709fb0;
    border: solid #726a95 1px;
}

#header a:first-of-type {
    border-width: 1px ;
}

#holder {
    min-height: 100%;
    position:relative;
}

#content {
    padding-top: 100px;
    padding-bottom: 30px;
}

#burger_menu {
    display: none;
}

#footer {
    background-color: #a0c1b8;
    height: 100px; 
    position: relative;
    padding: 25px 0;
    height: 100%;
}

#footer > div .column{
    border: solid #709fb0;
    border-width: 0 3px 0 0;
}

#footer > div .column:last-of-type {
    border-width: 0 ;
}

a.anchor {
    display: block; 
    position: relative; 
    top: -100px; 
    visibility: hidden;
}

#content .column {
    padding: 20px;
    background-color: #dfdde9;
    border-radius: 30px;
}

#content .column.dummy {
    visibility: hidden;
}

#content .column.foto {
    padding: 0;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
}

div.foto > img {
    max-width: 90%;
    float: right;
    border-radius: 30px;
}

.kalba {
    display: block;
    position: relative;
    padding-left: 12px;
}

.kalba::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #444;
    display: block;
    position: absolute;
    top: 0.5em;
    left: 2px;
    border-radius: 50%;
}

.kalba .stars-block {
    float: right;
    min-width: 120px;
}

.kalba > p{
    display: inline-block;
    width: calc(100% - 140px);
    margin-bottom: 10px;
}

.kalba > p > span{
    font-size: 12px;
    font-style: italic;
}

.star-svg {
    width: 17px;
    position: relative;
}

#burger_menu_btn {
    display: none;
}

#apie h5 {
    position: relative;
    display: block;
    margin-top: 40px;
}

#apie h5::after {
    content: '';
    width: 80%;
    height: 2px;
    background-color: #c8c5d3;
    display: block;
    position: absolute;
    top: -15px;
    right: 10%;
}

.column .issilavinimas {
    display: block;
}

.column .issilavinimas img {
    width: 50%;
    float: right;
}

.column .issilavinimas p {
    display: inline-block;
    width: 50%;
}

@media only screen and (max-width: 900px) {
    #header a {
        font-size: 12px;
    }

    #apie {
        width: 100%;
    }


    #content .column.foto {
        padding-right: 0;
        position: relative;
        height: 260px;
    }

    div.foto > img {
        border-radius: 50%;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 400px;
    }

    .one-half.column {
        width: 100%;
    }

    #content .dummy {
        display: none;
    }

    .column {
        margin-left: 0;
    }

    #content .column {
        margin-bottom: 30px;
    }


    #footer > div .column{
        border: solid #709fb0;
        border-width: 0 0 3px 0;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 700px) {
    #header {
        flex-direction: column;
        transform: translateY(-500px);
        transition: all .5s ease-in-out; 
    }

    #header a {
        font-size: 14px;
    }

    #header.open {
        flex-direction: column;
        transform: translateY(0);
    }

    #burger_menu_btn {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background-color: #709fb0;
        z-index: 101;
        border-radius: 0 0 0 15px ;
    }

    #burger_menu_btn img {
        display:block;
        margin:auto;
        position: absolute;
        top: 8px;
        left: 8px;
        transition: all .2s ease-in-out; 
    }

    #burger_menu_btn.open .close-menu-btn {
        transform: scale(0) rotate(360deg);
    }

    #burger_menu_btn.close .open-menu-btn {
        transform: scale(0) rotate(360deg);
    }

    #content {
        padding-top: 10px;
    }

    #content .row {
        margin-top: 20px;
    }

    #content .row:first-of-type {
        margin-top: 0;
    }

    #content .column {
        padding: 15px;
    }

    #footer > div .column:first-of-type {
        margin-top: 0;
    }
}

@media only screen and (max-width: 700px) {
    .star-svg {
        width: 15px;
        position: relative;
    }
    
    div.foto > img {
        max-width: 250px;
    }

    .kalba .stars-block {
        float: right;
        min-width: 95px;
    }

    .kalba > p {
        width: calc(100% - 100px);
    }
}
